@use '../../colors.scss' as *;

.order-form {
    margin-top: 32px;
    
    &__quantity-container {
        padding: 0 18.5px;
        width: 327px;
        height: 56px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        background-color: $grey-50;
        border-radius: 10px;
    }

    &__quantity {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        color: $grey-950;
    }

    &__quantity-container {
        display: flex;
        align-items: center;
    }

    &__quantity-decrement-btn,
    &__quantity-increment-btn {
        width: fit-content;
        height: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        border: none;

        img {
            width: 12px;
            height: auto;
        }
    }

    &__add-to-cart-btn {
        margin-top: 16px;
        width: 327px;
        height: 56px;
        border-radius: 10px;
        border: none;

        background: $orange-500;
        box-shadow: 0px 20px 50px -20px #ff7e1b40;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        color: $grey-950;

        &-icon {

            path {
                fill: $grey-950;
            }
        }
    }
}