@use '../../colors.scss' as *;

.product {
    &__details {
        margin-bottom: 70px;
        padding: 24px 24px 0;
    }

    &__company-name {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        letter-spacing: 1.84615px;
        text-transform: uppercase;

        color: $grey-500;
    }

    &__title {
        margin-top: 16px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;

        color: $grey-950;
    }

    &__description {
        margin-top: 16px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;

        color: $grey-500;
    }

    &__current-price {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;

        color: $grey-950;
    }
    
    &__discount-badge {
        width: 51px;
        height: 27px;

        border-radius: 6px;
        background: $grey-950;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__discount {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        color: $white;
    }

    &__price-section {
        margin-top: 32px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__price-and-discount {
        display: flex;
        gap: 24px;
    }

    &__original-price {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        text-decoration-line: line-through;

        color: $grey-500;
    }
    
    &__quantity-container {
        padding: 0 18.5px;
        width: 327px;
        height: 56px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        background-color: $grey-50;
        border-radius: 10px;
    }

    &__quantity {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        color: $grey-950;
    }

    &__quantity-container {
        display: flex;
        align-items: center;
    }

    &__quantity-decrement-btn,
    &__quantity-increment-btn {
        width: fit-content;
        height: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        border: none;

        img {
            width: 12px;
            height: auto;
        }
    }

    &__add-to-cart-section {
        margin-top: 32px;
    }

    &__add-to-cart-btn {
        margin-top: 16px;
        width: 327px;
        height: 56px;
        border-radius: 10px;
        border: none;

        background: $orange-500;
        box-shadow: 0px 20px 50px -20px #ff7e1b40;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;

        color: $grey-950;

        &-icon {

            path {
                fill: $grey-950;
            }
        }
    }
}