.header {
    padding: 19px 23.75px 24px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__right-side {
        display: flex;
    }

    &__right-side {
        align-items: center;
        gap: 24px;
    }

    &__user {
        width: 24px;
        height: 24px;
    }
}