/* Colors
 ******************************/
/* Primary
 ***************/
$orange-500: #FF7E1B;
$orange-300: #FFAB6A;

/* Neutral
 ***************/
$grey-950: #1D2026;
$grey-500: #69707D;
$grey-300: #C3CAD9;
$grey-100: #E4E9F2;
$grey-50: #F6F8FD;
$white: #ffffff;
// (with 75% opacity for lightbox background)
$black: #000000;